main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/background.png");
}

.login {
  border-radius: 0.5rem;
  text-align: center;
  width: 80%;
  max-width: 20.5rem;
  background-color: bisque;
}

.field {
  width: 75%;
}
.btn {
  width: 75%;
  margin-bottom: 1rem;
}

.spinner {
  margin: 0 auto;
}
