main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.login {
  border-radius: 0.5rem;
  text-align: center;
  width: 80%;
  max-width: 20.5rem;
  background-color: rgb(187, 195, 243);
}

.field {
  width: 75%;
}
.btn {
  width: 75%;
  margin-bottom: 1rem;
}

.spinner {
  margin: 0 auto;
}
