<app-header></app-header>
<main>
  <mat-spinner *ngIf="isLoading" class="spinner" [diameter]="50"></mat-spinner>
  <mat-card *ngIf="!isLoading" class="signup">
    <img src="../../../assets/signup.png" alt="signup" width="50%" />
    <h2>Registrate!</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="field" appearance="fill">
        <mat-label>Nombre completo</mat-label>
        <input matInput formControlName="fullName" />
      </mat-form-field>
      <mat-form-field class="field" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input
          matInput
          placeholder="email@ejemplo.com"
          formControlName="email"
        />
        <mat-error></mat-error>
      </mat-form-field>
      <mat-form-field class="field" appearance="fill">
        <mat-label>Contreseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'mostrar contraseña'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="field" appearance="fill">
        <mat-label>Direccion</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>
      <mat-form-field class="field" appearance="fill">
        <mat-label>Telefono</mat-label>
        <input matInput formControlName="cellPhone" />
      </mat-form-field>
      <button
        type="submit"
        class="btn-form"
        [disabled]="signupForm.invalid"
        mat-raised-button
        color="primary"
      >
        Registrar
      </button>
    </form>
    <a
      class="btn-form"
      mat-raised-button
      color="primary"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
    >
      Ya tengo cuenta
    </a>
  </mat-card>
</main>
<app-footer></app-footer>
