main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/background.png');

}
.signup {
  border-radius: 0.5rem;
  text-align: center;
  width: 80%;
  max-width: 20.5rem;
  border-radius: 0.25rem;
  margin: 3rem 5rem;
  background-color: bisque;
}
.field {
  width: 75%;
}

.btn-form {
  width: 75%;
  margin-bottom: 1rem;
}
