main {
  height: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 2rem;
}

.news-card {
  background-color: bisque;
}
