main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 3rem 2rem;
  background: url("../../../assets/background.png") center/cover no-repeat;
}
.title{
  background-color: bisque;
  padding: 3rem;
  margin: 2rem;
}
h1{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.content {
  display: grid;
  gap: 2rem 2rem;
}

@media (min-width: 640px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.news-card {
  width: 16rem;
  background-color: bisque;
  display: block;
}
