<app-header></app-header>
<main>
  <mat-card class="title">
    <h1>Bienvenid@ {{ user }}</h1>
    <h3>Aquí hay algunas cosas que podrian interesarte</h3>
  </mat-card>

  <!-- Agregar un grid con columnas colapsables -->
  <div class="content">
    <mat-card class="news-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/logo.svg" />
      </mat-card-title-group>
      <mat-card-content>
        {{ longText }}
      </mat-card-content>
    </mat-card>
    <mat-card class="news-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-card-content>
        {{ longText }}
      </mat-card-content>
    </mat-card>
    <mat-card class="news-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-card-content>
        {{ longText }}
      </mat-card-content>
    </mat-card>
    <mat-card class="news-card">
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-card-content>
        {{ longText }}
      </mat-card-content>
    </mat-card>
  </div>
</main>
<app-footer></app-footer>
