<app-header></app-header>
<main>
  <mat-card class="form-trip">
    <h1>Formulario de retiro</h1>
    <form [formGroup]="formTrip" (ngSubmit)="solicitarViaje()">
      <mat-form-field class="field" appearance="fill">
        <mat-label>Marca</mat-label>
        <input matInput formControlName="marca" />
      </mat-form-field>
      <mat-form-field class="field" appearance="fill">
        <mat-label>Modelo</mat-label>
        <input matInput formControlName="modelo" />
      </mat-form-field>
      <mat-form-field class="field" appearance="fill">
        <mat-label>Falla</mat-label>
        <input matInput formControlName="falla" />
      </mat-form-field>
      
      <button
        [disabled]="formTrip.invalid"
        type="submit"
        mat-raised-button
        class="btn"
        color="primary"
      >
        Solicitar
      </button>
    </form>
  </mat-card>
</main>
<app-footer></app-footer>
