main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../../assets/background.png") center/cover no-repeat;
  overflow: auto;
  // padding: 2rem 0;
}
.title {
  margin: 2rem;
}
h1 {
  font-size: 2rem;
  margin: 2rem;
}

.mat-card {
  background-color: bisque;
}
app-tabla {
  width: 80%;
  max-width: 100%;
}
